# Nombre de la aplicación
SPRING_APPLICATION_NAME=

CORS_ALLOWED_ORIGINS=http://localhost:5173
#CORS_ALLOWED_ORIGINS=http://localhost:5173,http://localhost:5174,.......


# Configuración de la base de datos PostgreSQL
SPRING_DATASOURCE_URL=
SPRING_DATASOURCE_USERNAME=
SPRING_DATASOURCE_PASSWORD=
SPRING_DATASOURCE_DRIVER_CLASS_NAME=

# Configuración de JPA / Hibernate
SPRING_JPA_HIBERNATE_DDL_AUTO=update
SPRING_JPA_SHOW_SQL=true

# Puerto del servidor
SERVER_PORT=4000

# Configuración de seguridad JWT
SECURITY_JWT_SECRET_KEY=
SECURITY_JWT_EXPIRATION_TIME=